<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
               <img src="./assets/images/LogoColor.png" alt="">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Blog</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-header" type="submit">Get Started</button>
        </div>
      </nav>
</div>

<app-banner1></app-banner1>
<app-banner2></app-banner2>
<app-banner3></app-banner3>
<app-slider></app-slider>
<app-banner4></app-banner4>